# Núcleo científico
numpy
pandas>=2.0
openpyxl>=3.1.5
matplotlib

# Formatos y rendimiento
pyarrow
fastparquet

# Solar
pvlib

# ERA5 / Copernicus
cdsapi
xarray
netcdf4

# Utilidades
python-dateutil
pytz
pyyaml
tqdm

# Interactividad en Jupyter
ipywidgets
